In [2]:
import pandas as pd

In [10]:
age = pd.read_csv('age.csv')
age.head()

  Row Labels  Sum of Total  Probablity
0       0-14         98410    0.022695
1      15-29       1534037    0.353779
2      30-44       1471599    0.339379
3      45-59        885177    0.204139
4        60+        346925    0.080008

In [4]:
causes = pd.read_csv('causes.csv')
causes.head()

                                           Causes     Sum  Probablity
0         Bankruptcy or Sudden change in Economic   32755    0.002503
1  Bankruptcy or Sudden change in Economic Status    2655    0.000203
2         Cancellation/Non-Settlement of Marriage   11296    0.000863
3                                          Cancer    9058    0.000692
4                                Causes Not known  237069    0.018113

In [5]:
gender = pd.read_csv('gender.csv')
gender.head()

  Row Labels  Sum of Total  Probablity
0     Female       4702974    0.359782
1       Male       8368760    0.640218

In [6]:
prof = pd.read_csv('profession.csv')
prof.head()

           Professional_Profile     Sum  Probablity
0  Farming/Agriculture Activity  197923    0.137519
1                    House Wife  285243    0.198190
2       Others (Please Specify)  469147    0.325968
3         Professional Activity   39204    0.027239
4     Public Sector Undertaking   30786    0.021390

In [13]:
social = pd.read_csv('social.csv')
prof.head()

           Professional_Profile     Sum  Probablity
0  Farming/Agriculture Activity  197923    0.137519
1                    House Wife  285243    0.198190
2       Others (Please Specify)  469147    0.325968
3         Professional Activity   39204    0.027239
4     Public Sector Undertaking   30786    0.021390

In [14]:
personA = {'age': '15-29', 
           'causes': 'Death of Dear Person', 
           'gender': 'Female',
           'prof': 'House Wife',
           'social': 'Widowed/Widower'}

In [15]:
personA["probablity"] = age["Probablity"][age['Row Labels'] == personA['age']].tolist()[0] * causes["Probablity"][causes['Causes'] == personA['causes']].tolist()[0] *gender["Probablity"][gender['Row Labels'] == personA['gender']].tolist()[0] *prof["Probablity"][prof['Professional_Profile'] == personA['prof']].tolist()[0] *social["Probablity"][social['Social_Status'] == personA['social']].tolist()[0]

In [103]:
personA

{'age': '15-29',
 'causes': 'Death of Dear Person',
 'gender': 'Female',
 'prof': 'House Wife',
 'social': 'Widowed/Widower',
 'probablity': 8.48649653018369e-07}

In [111]:
personB = {'age': '45-59', 
           'causes': 'Bankruptcy or Sudden change in Economic', 
           'gender': 'Male',
           'prof': 'Public Sector Undertaking',
           'social': 'Married'}

In [113]:
personB["probablity"] = age["Probablity"][age['Row Labels'] == personB['age']].tolist()[0] * causes["Probablity"][causes['Causes'] == personB['causes']].tolist()[0] *gender["Probablity"][gender['Row Labels'] == personB['gender']].tolist()[0] *prof["Probablity"][prof['Professional_Profile'] == personB['prof']].tolist()[0] *social["Probablity"][social['Social_Status'] == personB['social']].tolist()[0]

In [115]:
personB

{'age': '45-59',
 'causes': 'Bankruptcy or Sudden change in Economic',
 'gender': 'Male',
 'prof': 'Public Sector Undertaking',
 'social': 'Married',
 'probablity': 4.909955067174665e-06}

In [114]:
if(personA["probablity"] > personB["probablity"]): 
    print("Person A is more vulnerable")

else:
    print("Person B is more vulnerable")

Person B is more vulnerable